body  {
 margin: 0;
display: flex;
flex-direction: column;
padding: 0;
}

 


.header {
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: black;
}

 

.header-text {
display: flex;
background-color:black ;
color: white;
justify-content: space-around;
align-items: center;


}
 
button {
background-color: red;
border: none;
color: white;
height: 50px;
width: 150px;
border-style: solid;



}

.header-photo {
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 20px;
padding-right: 90px;
padding-bottom: 90px;

 
}

.container-title {
 justify-content: center;
 align-items: center;
display: flex;
background-color: beige;
font-size: 32px;
}

 
.container {
 display: flex;
 background-color: beige;
 gap: 150px;
 justify-content: center;
 padding: 70px;
 border-top-style :solid;
 border-bottom-style: solid;
}

 
 
.info {
max-width: 100%;
}

.container img {
   height: 250px;
   width: 250px; 
    
}

.text {
font-size: 18px;
font-weight: 500;

 


}

.description {
background-color:  darkgray;
display: flex;
justify-content: center;
font-family:'Times New Roman', Times, serif;
color:black;
padding: 80px;

}

.description-text {
   width: 80%;
   display: flex;
   flex-direction: column;
}

#description-quote {
   align-self: flex-end;
}


.parent-cta {
 background-color: white;
 padding: 30px;
 border-top-style: solid;
border-bottom-style: solid;  
}
 
.cta {
background-color: aqua;
display: flex;
padding: 60px;
align-items: center;
justify-content: space-around;
}

#cta-button {
background-color: red;
border: none;
color: white;
height: 50px;
width: 150px;
border-style: solid;
justify-content: center;
display: flex;
align-items: center;
}

  
.footer {
 background-color: black;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 70px;
 border-bottom-style: solid;
 color: white;
}
 
ul {    
list-style-type: none;
display: flex;
gap: 30px;
padding-right: 110px;

 }


a {
text-decoration: none;
color: wheat;

}















